<!DOCTYPE html>
<html>
<head>
  <title>TvClub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class='black'>
    <div class='nav-wrapper'>
      <%= link_to 'TV Club', programs_path, class: 'brand-logo white-text' %>
      <ul id='nav-mobile' class='right hide-on-med-and-down'>
        <li>
          <%= link_to 'episodes', episodes_path, class: 'white-text' %>
        </li>
        <li>
          <%= link_to 'networks', networks_path, class: 'white-text' %>
        </li>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
