!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TvClub
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.black.nav-wrapper.white-text.space-around
      %span  
        = link_to 'TV CLUB', root_path
      %div.space-around.links
        %p
          = link_to 'Programs', programs_path
        %p
          = link_to 'Episodes', episodes_path
        %p
          = link_to  'Networks', networks_path

    .content
      / %div.main-header
      %div.main-content
        = yield
